DATABASE_URL="postgresql://postgres.wglauqavqvivpjbyhokl:vinhduy0907@aws-0-ca-central-1.pooler.supabase.com:5432/postgres"

PORT=4000

JWT_ACCESS_SECRET="Alicenguyen"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_SECRET="DuyNguyen"
JWT_REFRESH_TTL="7d"
