DATABASE_URL="postgresql://postgres:vinhduy0907@db.wglauqavqvivpjbyhokl.supabase.co:5432/postgres"

PORT=4000

JWT_ACCESS_SECRET="Alicenguyen"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_SECRET="DuyNguyen"
JWT_REFRESH_TTL="7d"
